pytest
pytest-subtests
requests
furo
myst-parser
black

sphinx-copybutton
sphinx-design
sphinx-inline-tabs
sphinx-tabs
Sphinx-Substitution-Extensions
sphinx-panels
sphinx-autobuild
sphinx-click

click
jinja2

ipyxact